CONFIG_WEC_PRODUCT_DISK=y
# CONFIG_WEC_DEVELOPMENT_BUILD is not set
CONFIG_WL_SECTOR_SIZE_512=y
CONFIG_WL_SECTOR_SIZE=512
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_TINYUSB_MSC_BUFSIZE=512
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=1
# CONFIG_TINYUSB_DESC_USE_DEFAULT_PID is not set
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x4010
CONFIG_TINYUSB_DESC_PRODUCT_STRING="WeClawBot"
CONFIG_TINYUSB_DESC_MSC_STRING="WeClawBot"
# CONFIG_FATFS_LFN_NONE is not set
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_USE_LABEL=y
